    /*--DARK MODE--*/
    .theme-switch-wrapper {
      display: flex;
      justify-content: center;
      align-items:center;
      margin-left: 10px;
      margin-right: 5px;
    }
    .theme-switch {
      display: inline-block;
      height: 36px;
      position: relative;
      width: 36px;
    }
    .theme-switch input {
      display:none;
    }
    .slider {
      background-color: #ccc;
      bottom: 0;
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: .4s;
    }
    .slider:before {
      background-color: #fff;
      bottom: 4px;
      content: "";
      height: 28px;
      left: 4px;
      position: absolute;
      transition: .4s;
      width: 28px;
      box-shadow: 0px 1.5px #888888;
    }
    input:checked + .slider {
      background-color: #66bb6a;
      
    }
    input:checked + .slider:before {
      transform: translateZ(-21px);
      box-shadow: 0px -1.5px #888888;
      height: 27px;
      width: 27px;
      left: 5px;
      bottom: 4.2px;
    }
    .slider.round {
      border-radius: 50%;
    }
    .slider.round:before {
      border-radius: 50%;
    }
    /*------------------------------*/




@media only screen and (max-width: 700px) {
    /* For mobiles: */
    
    header {

        height: 250px;

      }

    nav {
        position: fixed;
        width: 100%;
        justify-content: space-between;
        height: 8%;
        background-color: #e5d183ec;
        z-index: 12;
      }

    nav > .mobile{
        padding-right: 1%;
        display: flex;
        position:static;
      }

    nav > ul {
        display: none;
      }
    
    .mading-1 > h1{
        padding-top: 25%;
        justify-content: center;
        text-align: center;
        font-size: xx-large;
      }

    .mading-1 > p{
        font-size: medium;
      }

    /*------------------------------------------------*/

    /* Konten Dropdown (Hidden secara Default) */

    .mobile ul {
        display: none;
        position: absolute;
        background-color: #e5d183ec;
        width: 100%;
        margin: -10px -440px;
        height: 500%;
        padding: 70px;
        padding-top: 80px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: -10;
      }

    nav > ul > li a:hover {
        background-color: #ddd;
        text-shadow: 0.5px 0.5px 0px #eda010, 3px 3px 0px rgba(0,0,0,0.1);
        font-size: large;
      
      }


    /*-----------------DARK MODE switcher------------------*/



    /*--------------------MAIN MENU------------------------------------------*/

    #product-picture {
        padding-bottom: 15%;
        background-color: #F5F7F8;
      }

    #product-picture .proyek-item .menu-bar {
        display: none;
      }

    #product-picture .proyek-item .mobile-bar {
        display: block;
      }

    #product-picture .grid-container{
        display: none;
      }

    #product-picture-2 .grid-container-2{
        display: none;

      }

    #product-picture-2 {
        margin-top: 0%;
        padding-bottom: 15%;
        background-color: #F5F7F8;
      }

    #product-picture .w3-content{
        display:flex;
        position:static;
        align-items:stretch;
        justify-content: center;
      }

    #product-picture .w3-content img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    
    #product-picture-2 .w3-content{
        display:flex;
        position:static;
        align-items:stretch;
        justify-content: center;
      }

    #product-picture-2 .w3-content img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    
    
    #proses-produksi{
        margin-top: 5%;
        background-color: #F5F7F8;
        padding-top: 20px;
        padding-bottom: 5%;
      } 

    #proses-produksi h2{
        text-align: center;
        padding-bottom: 10%;
      }
      
    #proses-produksi iframe{
        text-align: center;
        padding-top: 5%;
        padding-bottom: 2%;
      }

    #kontak h2{
        margin-top: 5%;
        background-color: #F5F7F8;
        padding-top: 10px;
        padding-bottom: 10%;
      }

    form fieldset{
        padding: 20px 10px 10px 10px;

      }

    form fieldset legend{
        padding: 10px;
        text-align: center;

      }
    /*
      #product-picture .grid-container {
        display: block;
        padding-bottom: 10%;
      }


    #product-picture-2 .grid-container-2 {
        display: block;
        padding-bottom: 10%;
      }

      */

      footer{
        text-align: center;
        width: 100%;
        margin-bottom: 1%;
        font-style: main-font;
        animation: brand 3s 2;
        animation-iteration-count:infinite;
        animation-direction: alternate;
        transition: 0.5s;
        transition-timing-function: ease-in-out;
      }
    
      @keyframes brand {
       
        0%   {text-shadow:2px 2px 7px #159fe4; font-size: 14px; opacity: 0.01;}
        50%   {text-shadow:2px 2px 7px #159fe4; font-size: 17px;}
        75%  {text-shadow:2px 2px 7px #e4ad15; font-size: 17px;}
        100%  {text-shadow:2px 2px 7px #eee8d6; font-size: 17px;}
    
      }
    }
