@media only screen and (max-width: 700px) {
    /* For mobiles: */
    
    header {

        height: 250px;

      }



    nav {
        position: fixed;
        width: 100%;
        justify-content: space-between;
        height: 8%;
        background-color: #e5d183ec;
        z-index: 12;
      }

    nav > .mobile{
        padding-right: 10%;
        display: flex;
        position:static;
      }

    nav > ul {
        display: none;
      }
    
    .mading-1 > h1{
        padding-top: 25%;
        justify-content: center;
        text-align: center;
        font-size: xx-large;
      }

    .mading-1 > p{
        font-size: medium;
      }

    /*------------------------------------------------*/

    /* Konten Dropdown (Hidden secara Default) */

    .mobile ul {
        display: none;
        position: absolute;
        background-color: #e5d183ec;
        width: 100%;
        margin: -10px -440px;
        height: 500%;
        padding: 70px;
        padding-top: 80px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: -10;
      }

    .herb-detail {
        font-family: "nocturne-serif-lights", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        text-align: center;
        width: 80%;
        text-align: justify;
      }


    #product-picture {
        padding-bottom: 15%;
        background-color: #F5F7F8;
      }

    #product-picture .grid-container{
        display: none;
      }

    #product-picture-2 .grid-container-2{
        display: none;

      }

    #product-picture-2 {
        margin-top: 0%;
        padding-bottom: 15%;
        background-color: #F5F7F8;
      }

    #product-picture .w3-content{
        display:flex;
        position:static;
        align-items:stretch;
        justify-content: center;
      }

    #product-picture .w3-content img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    
    #product-picture-2 .w3-content{
        display:flex;
        position:static;
        align-items:stretch;
        justify-content: center;
      }

    #product-picture-2 .w3-content img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    
    
    #proses-produksi{
        margin-top: 5%;
        background-color: #F5F7F8;
        padding-top: 20px;
        padding-bottom: 5%;
      } 

    #proses-produksi h2{
        text-align: center;
        padding-bottom: 10%;
      }
      
    #proses-produksi iframe{
        text-align: center;
        padding-top: 5%;
        padding-bottom: 2%;
      }

    #kontak h2{
        margin-top: 5%;
        background-color: #F5F7F8;
        padding-top: 10px;
        padding-bottom: 10%;
      }

    form fieldset{
        padding: 20px 10px 10px 10px;

      }

    form fieldset legend{
        padding: 10px;
        text-align: center;

      }
    /*
      #product-picture .grid-container {
        display: block;
        padding-bottom: 10%;
      }


    #product-picture-2 .grid-container-2 {
        display: block;
        padding-bottom: 10%;
      }

      */

      footer{
        text-align: center;
        width: 100%;
        margin-bottom: 1%;
        font-style: main-font;
        animation: none;
      }
  }